:root {
    --personal-details-color: #540d75;
    --primary-link: #e83390;
    --primary-link-hover: #fffd80;
    --primary-bg-color: #231f30;
    --primary-green: #01d840;
    --primary-navy-g: #4b55c5;
    --primary-navy: #7593cb;
    --primary-text-color: #eee;
    --primary-gradient: linear-gradient(45deg,var(--primary-green),var(--primary-navy-g));
    --primary-gradient-r: linear-gradient(45deg,#908,#0ab);
    --flex-card: 0 1 20rem;
    --section-padding: 0rem 2rem 16rem 2rem;
    --section-heading-margin: -3rem auto 18rem auto;
    --paragraph-padding: 2rem;
    --section-margin: 0rem 0;
}

@media only screen and (max-width: 700px){
    :root {
        --section-padding: 0rem 0rem 5rem 0rem;
        --paragraph-padding: .5rem;
        --section-margin: 10rem 0;
    }
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: 'Nunito Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

h1,h2 {
    position: relative;
    padding: 0 1rem;
    margin: 1rem 0;
    background-color: var(--primary-bg-color);
    width: max-content;
}

a, a:link, a:visited, a:link:visited{
    color: var(--primary-link);
    text-decoration:none;
    transition: all 160ms ease-in-out;
}

a:hover, a:link:hover{
    color: var(--primary-link-hover)
}

#navigation {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: black;
    z-index: 1000;
}

.text-dark {
    color: #111
}

#navigation>ul {
    display: flex;
    justify-content: flex-end;
    height: 5rem;
    flex-wrap: wrap;
}

#navigation>ul>li {
    list-style: none;
    background-color: var(--primary-bg-color);
    padding: 0 .5rem;
    border: .5rem solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4.6rem;
}

#personal-details {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 4rem;
    background-color: var(--primary-bg-color);
    border-bottom: 1rem solid #000000;
}

#personal-details>div:first-child>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#personal-details>div:first-child {
    padding: 2rem;
    object-fit: cover;
    height: 30rem;
    object-position: 50% 75%;
    max-width: 20rem;
    position: relative;
}

.profile-img {
    -webkit-clip-path: polygon(13.9% 17.92%, 81.36% 6.88%, 88.13% 83.13%, 4.92% 79.17%);
    clip-path: polygon(13.9% 17.92%, 81.36% 6.88%, 88.13% 83.13%, 4.92% 79.17%);
    animation: clip-animate 5s linear infinite normal;
}

@keyframes clip-animate {
    0%{clip-path: polygon(13.9% 17.92%, 81.36% 6.88%, 88.13% 83.13%, 4.92% 79.17%)}
    50%{clip-path: polygon(15.9% 19.92%, 80.36% 8.88%, 86.13% 85.13%, 6.92% 81.17%)}
    100%{clip-path: polygon(13.9% 17.92%, 81.36% 6.88%, 88.13% 83.13%, 4.92% 79.17%)}
}
#personal-details > div:first-child::before {
    content: "";
    position: absolute;
    top: 0rem;
    left: -1rem;
    bottom: -1rem;
    right: -1rem;
    margin: 2rem;
    background: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,255,255,.1) 5px, rgba(255,255,255,.1) 10px),var(--primary-gradient);
    -webkit-clip-path: polygon(13.23% 12.92%, 78.31% -1.25%, 5.25% 8.07%, 6.95% 83.75%);
    clip-path: polygon(13.23% 12.92%, 78.31% -1.25%, 5.25% 8.07%, 6.95% 83.75%);
}

#personal-details > div:first-child::after {
    content: "";
    position: absolute;
    top: 1rem;
    left: 1rem;
    bottom: -1rem;
    right: -1rem;
    margin: 2rem;
    background: repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(255,255,255,.1) 5px, rgba(255,255,255,.1) 10px),var(--primary-gradient);
    -webkit-clip-path: polygon(87.12% 85.63%, 81.36% 6.88%, 99.66% 92.92%, 0.85% 93.13%);
    clip-path: polygon(87.12% 85.63%, 81.36% 6.88%, 99.66% 92.92%, 0.85% 93.13%);
}

#personal-details>div:last-child {
    flex:1 1 calc(100% - 30rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: var(--paragraph-padding);
}

#about-me{
    background-color: #eee;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 0 0 .5rem #111;
    color: #3a3035;
    position: relative;
}
#about-me::before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 1rem solid transparent;
    border-right: 1rem solid #eee;
    border-top: 1rem solid #eee;
    border-bottom: 1rem solid transparent;
    left: -2rem;
    top: 50%;
    z-index: 1;
}
#about-me::after{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 2rem solid transparent;
    border-right: 2rem solid #111;
    border-top: 2rem solid #111;
    border-bottom: 2rem solid transparent;
    left: -4rem;
    top: calc(50% - .85rem);
    z-index: 0;
}

@media only screen and (max-width: 744px){
    #about-me::before{
        border-left: 1rem solid #eee;
        border-right: 1rem solid transparent;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid #eee;
        left: 10%;
        top: -2rem;
    }
    #about-me::after{
        border-left: 1.5rem solid #111;
        border-right: 1.5rem solid transparent;
        border-top: 1.5rem solid transparent;
        border-bottom: 1.5rem solid #111;
        left: calc(10% - .4rem);
        top: -3rem;
    }
}

#projects{
    padding: var(--section-padding);
    background-color: var(--primary-bg-color);
    border-top: 1rem solid #000000;
    border-bottom: 1rem solid #000000;
    color: #eee;
}

#projects>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects>ul>li:nth-child(2n) {
    transform: skewY(4deg);
}
#projects>ul>li:nth-child(2n+1) {
    transform: skewY(-4deg);
}
#projects>ul>li:nth-child(2n)>a {
    transform: skewY(-4deg);
}
#projects>ul>li:nth-child(2n+1)>a {
    transform: skewY(4deg);
}

#projects>ul>li {
    flex: var(--flex-card);
    list-style: none;
    margin: 2rem 1rem;
    padding: 1rem;
    position: relative;
    background: #f78700;
    box-shadow: 0 0 0 .5rem black;
    transition: box-shadow 100ms ease-in-out, transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#projects>ul>li::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -1rem;
    bottom: -1rem;
    right: -1rem;
    background-image: radial-gradient(rgba(0,0,0,1) 20%, transparent 20%), radial-gradient(rgba(0,0,0,1) 20%, transparent 20%);
    background-position: 0 0, 25px 25px;
    background-size: 10px 10px;
    z-index: -2;
    opacity: 0;
    transition: opacity 200ms 100ms ease-in-out;
}

#projects>ul>li::after {
    content: "";
    position: absolute;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
    background: #f78700;
    z-index: -1;
    transition: all 300ms ease-in-out;
}

#projects>ul>li:hover {
    box-shadow: 0 0 0 0rem black;
}
#projects>ul>li:hover::before {
    opacity: 1;
}
#projects>ul>li:hover:nth-child(2n) {
    transform: scale(1.05) skewY(4deg);
}
#projects>ul>li:hover:nth-child(2n+1) {
    transform: scale(1.05) skewY(-4deg);
}

#projects>ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects>ul>li>a>img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    object-position: center;
}

#projects>ul>li>a>strong {
    font-size: 2.5em;
    margin: .5rem auto;
}

#projects>ul>li>a>div {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

#projects>ul>li>a>div>span {
    padding: .1rem 1rem;
    margin: .1rem;
    background:#117E0F;
    color: var(--primary-text-color);
    transform: skewY(-1deg);
    position: relative;
}
#projects>ul>li>a>div>span::before {
    content: "";
    background:#117E0F;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
#projects>ul>li>a>div>span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(8px, 8px);
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 4px);
    z-index: -11;
}

#skills {
    padding: var(--section-padding);
    background-color: var(--primary-bg-color);
    border-top: 1rem solid #000000;
    border-bottom: 1rem solid #000000;
}

#skills>ul {
    display: flex;
    flex-wrap: wrap;
}

#skills>ul>li {
    list-style: none;
    padding: 1rem 0rem;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    background-color:#db7e04;
    background-color:#2d3aa8;
    margin: .5rem 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
}

#skills>ul>li>*:first-child{
    width: 30%;
    text-align: right;
}

.skill-bar {
    width: 70%;
    text-align: center;
    background: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.1) 5px, rgba(255,255,255,.1) 10px),var(--primary-gradient-r);
    margin: 0 .5rem;
    padding: 1rem 0;
    position: relative;
    border-radius: 0.2rem;
    overflow: hidden;
}
.skill-bar>:first-child {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    background-color: #945400;
    background-color: #160094;
    transition: left 500ms ease;
}
.skill-bar>:last-child {
    position: relative;
    padding: 1rem 0;
}

#employment-history {
    padding: var(--section-padding);
    background-color: var(--primary-bg-color);
    border-top: 1rem solid #000000;
    border-bottom: 1rem solid #000000;

}

#employment-history>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#employment-history>ul>li {
    flex: var(--flex-card);
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#employment-history>ul>li::after {
    content: "";
    position: absolute;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
    background-color: #1f0062;;
    box-shadow: 0 0 0 .5rem black;
    border-radius: 4rem 0rem;
    transition: all 200ms ease-in-out;
}

#employment-history>ul>li::before {
    content: "";
    position: absolute;
    top: 0rem;
    left: 0rem;
    bottom: 0rem;
    right: 0rem;
    border-radius: 4.5rem 0rem;
    background: radial-gradient(rgb(255, 255, 255) 30%, transparent 30%), radial-gradient(rgb(255, 255, 255) 20%, transparent 20%);
    background-position: 0 0, 5px 5px;
    background-size: 10px 10px;
    transform: translate(0rem, 0rem);
    transition: transform 200ms ease-in-out;
}

#employment-history>ul>li:hover{
    transform: scale(1.05);
}

#employment-history>ul>li:hover::after {
    box-shadow: 0 0 0 0rem black;
}

#employment-history>ul>li:hover::before {
    transform: translate(1rem, 1rem);
}

#employment-history>ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
    margin: .5rem;
}

#employment-history>ul>li>a>ul {
    list-style: square;
}

#employment-history>ul>li>a>div {
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

#employment-history>ul>li>a>div>img {
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    object-position: 50% -5%;
}

#employment-history>ul:last-of-type>li {
    flex: 0 0 15rem;
}

.kimelab-logo {
    background-color:white;
    object-fit: contain !important;
    border: 1.75rem solid white;
    width: 80% !important;
    height: 80% !important;
}

#educational-history {
    padding: var(--section-padding);
    background-color: var(--primary-bg-color);
    border-top: 1rem solid #000000;
    border-bottom: 1rem solid #000000;
}

#educational-history>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#educational-history>ul>li {
    flex: var(--flex-card);
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    background-color: var(--primary-bg-color);
    background-color:#5a008c;
    box-shadow: .5rem .5rem#b5aa00;
}

.school {
    background-color: #04557A;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: -2rem;
    font-size: 1.2em;
    transform: skewY(-1deg);
}

.job-title {
    padding: 1rem;
    color: #fe9;
    transform: skewY(-1deg);
    margin-top: -3rem;
    margin-bottom: 2rem;
    position: relative;
}
.job-title:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:#d5197a;
    color: #fe9;
    z-index: -1;
}
.job-title:before {
    content: "";
    position: absolute;
    top: .5rem;
    bottom: -.5rem;
    left: .5rem;
    right: -.5rem;
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 2px, rgba(255, 238, 153, .8) 2px, rgba(255, 238, 153,.8) 4px);
    z-index: -1;
}
.section-heading {
    padding: .5rem 2rem;
    border: .5rem solid black;
    position: sticky;
    top: 4rem;
    z-index: 10;
    margin: var(--section-heading-margin);
}

.fill {
    fill: #7593cb;
    fill: #40577f;
}

.contain {
    object-fit: contain !important;
}

.polka-dot {
    background-image: radial-gradient(rgba(255,255,255,.1) 20%, transparent 20%), radial-gradient(rgba(255,255,255,.1) 20%, transparent 20%);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
}

.polka-dot__small {
    background-position: 0 0, 5px 5px;
    background-size: 10px 10px;
}

.stripe-bg {
    background-image: repeating-linear-gradient(-45deg,
    transparent,
    transparent 5px,
    rgba(255,255,255,.1) 5px,
    rgba(255,255,255,.1) 10px);
}

.circles {
    background: repeating-radial-gradient(circle at 50%, rgba(255,255,255,.1), rgba(255,255,255,.1) 10%, transparent 10%,
transparent 20%);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position: 0 0, 50px 50px;
    background-size: 120px 120px;
}

.waves {
    background:
    radial-gradient(ellipse 110% 100% at 50% 115%, transparent 20%, rgba(255,255,255,.1) 21%, rgba(255,255,255,.1) 34%, transparent 35%, transparent),
    radial-gradient(ellipse 110% 100% at 50% -15%, transparent 20%, rgba(255,255,255,.1) 21%, rgba(255,255,255,.1) 34%, transparent 35%, transparent) -20px 0;
    background-size: 40px 40px;
}